{
  "__merge" : [],
  
  "interSystemFuelcost" : 100,
  "intraSystemFuelcost" : 25,

  "console" : {
    "sectorButtons" : {      
      "buttons" : [
        {
          "id" : 13,
          "fontSize" : 10,
          "position" : [-90, 0]
        },
        {
          "id" : 12,
          "fontSize" : 10,
          "position" : [-75, 0]
        },
        {
          "id" : 11,
          "fontSize" : 10,
          "position" : [-60, 0]
        },
        {
          "id" : 10,
          "fontSize" : 10,
          "position" : [-45, 0]
        },
        {
          "id" : 9,
          "fontSize" : 10,
          "position" : [-30, 0]
        },
        {
          "id" : 8,
          "fontSize" : 10,
          "position" : [-15, 0]
        }
      ]
    }
  }
}
