{
	"__merge": [
		[ "overwrite", "sectors" ]
	],

	"sectors" : [
		{
			"id" : "seggor",
			"name" : "Seggor Sector",
			"sectorSeed" : 71707887027,
			"prefix" : "Seggor",
			"sectorSymbol" : "/celestial/sector/1.png",
			"hueShift" : 0,

			"worldParameters" : {
				"threatLevel" : [1, 3],
				"unlockedBiomes" : [ "arid", "desert", "forest", "snow", "moon", "barren", "asteroidfield" ]
			}
		},

		{
			"id" : "beryl",
			"name" : "Beryl Sector",
			"sectorSeed" : 912044941247,
			"prefix" : "Beryl",
			"sectorSymbol" : "/celestial/sector/2.png",
			"hueShift" : -30,

			"worldParameters" : {
				"threatLevel" : [2, 4],
				"unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "barren", "asteroidfield" ]
			}
		},

		{
			"id" : "irra",
			"name" : "Irra Sector",
			"sectorSeed" : 877461781495,
			"prefix" : "Irra",
			"sectorSymbol" : "/celestial/sector/3.png",
			"hueShift" : -60,

			"worldParameters" : {
				"threatLevel" : [3, 5],
				"unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "grasslands", "barren", "asteroidfield" ]
			}
		},

		{
			"id" : "jenka",
			"name" : "Jenka Sector",
			"sectorSeed" : 914461284455,
			"prefix" : "Jenka",
			"sectorSymbol" : "/celestial/sector/4.png",
			"hueShift" : -90,

			"worldParameters" : {
				"threatLevel" : [4, 6],
				"unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "grasslands", "magma", "tentacles", "tundra", "volcanic", "barren", "asteroidfield" ]
			}
		},

		{
			"id" : "londo",
			"name" : "Londo Sector",
			"sectorSeed" : 914461284455,
			"prefix" : "Londo",
			"sectorSymbol" : "/celestial/sector/5.png",
			"hueShift" : -120,

			"worldParameters" : {
				"threatLevel" : [4, 6],
				"unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "grasslands", "magma", "tentacles", "tundra", "volcanic", "barren", "asteroidfield" ]
			}
		},

		{
			"id" : "ares",
			"name" : "Ares Sector",
			"sectorSeed" : 914461284455,
			"prefix" : "Ares",
			"sectorSymbol" : "/celestial/sector/6.png",
			"hueShift" : -150,

			"worldParameters" : {
				"threatLevel" : [5, 7],
				"unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "grasslands", "magma", "tentacles", "tundra", "volcanic", "barren", "asteroidfield" ]
			}
		},

		{
			"id" : "sarrhon",
			"name" : "Sarrhon Sector",
			"sectorSeed" : 914461284455,
			"prefix" : "Sarrhon",
			"sectorSymbol" : "/celestial/sector/7.png",
			"hueShift" : -180,

			"worldParameters" : {
				"threatLevel" : [6, 8],
				"unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "grasslands", "magma", "tentacles", "tundra", "volcanic", "barren", "asteroidfield" ]
			}
		},

		{
			"id" : "uriel",
			"name" : "Uriel Sector",
			"sectorSeed" : 914461284455,
			"prefix" : "Uriel",
			"sectorSymbol" : "/celestial/sector/8.png",
			"hueShift" : 150,

			"worldParameters" : {
				"threatLevel" : [7, 9],
				"unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "grasslands", "magma", "tentacles", "tundra", "volcanic", "barren", "asteroidfield" ]
			}
		},

		{
			"id" : "erza",
			"name" : "Erza Sector",
			"sectorSeed" : 914461284455,
			"prefix" : "Erza",
			"sectorSymbol" : "/celestial/sector/9.png",
			"hueShift" : 120,

			"worldParameters" : {
				"threatLevel" : [8, 10],
				"unlockedBiomes" : [ "arid", "desert", "savannah", "forest", "snow", "moon", "jungle", "grasslands", "magma", "tentacles", "tundra", "volcanic", "barren", "asteroidfield" ]
			}
		}
	]
}
