{
	"__merge" : [],
	"defaultItems" : [ ],

	"defaultBlueprints" : {
	"__merge" : [
		[ "overwrite", "tier1" ],
		[ "overwrite", "tier2" ],
		[ "overwrite", "tier3" ],
		[ "overwrite", "tier4" ],
		[ "overwrite", "level32" ],
		[ "overwrite", "level33" ],
		[ "overwrite", "level34" ],
		[ "overwrite", "level35" ],
		[ "overwrite", "level36" ],
		[ "overwrite", "level37" ],
		[ "overwrite", "portable3dprinter" ]
	],

		"tier1" : [],
		"tier2" : [],
		"tier3" : [],
		"tier4" : [],
		"level32" : [],
		"level33" : [],
		"level34" : [],
		"level35" : [],
		"level36" : [],
		"level37" : [],
		"portable3dprinter" : []
	},

	"maxHealth" : 100.0,
	"maxEnergy" : 100.0,
	"maxFood" : 100.0,
	"maxBreath" : 100.0,

	"energyReplenishmentRate" : 10.0,
	"foodDepletionRate" : 0.0425,

	"breathReplenishmentRate" : 20,
	"breathDepletionRate" : 2
}
