{
	"__merge" : [
		[ "overwrite", "findStarterWorldRange" ],
		[ "overwrite", "starterWorldSector" ],
		[ "overwrite", "starterWorldMoonProbability" ],
		[ "overwrite", "starterWorldPrimaryBiome" ],
		[ "overwrite", "starterWorldLevel" ]
	],
	"findStarterWorldRange" : 200,
	"starterWorldSector" : "seggor",
	"starterWorldMoonProbability" : 0.5,
	"starterWorldPrimaryBiome" : "forest",
	"starterWorldLevel" : [0,1]
}
